/*====Button====*/
.btn{
	background: $button-bg;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 0;
	padding: 23px 56px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s ease ;
	vertical-align: middle;
	border-radius: 30px;
	border: 2px solid transparent;
}
.btn:hover{
	color: #fff;
}
.btn-border{
	border-color: #fff;
	background: transparent;
	transition: all 0.3s;
}
.btn-border:hover{
	background: $button-bg;
}

.work-btn{
	padding-left: 30px;
	padding-right: 30px;
	font-size: 16px;
}

.p-btn{
	padding-left: 20px;
	padding-right: 20px;
	background: transparent;
	color: #000;
	border-color: $button-bg;
	transition: all 0.3s;
}
.p-btn:hover{
	color: #fff;
	background: $button-bg;
}

.btn-active-bg{
	background: $button-bg;
	color: #fff;
}